@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "ServeOne_Theme";
  default: true;

  --color-primary: #0096c7;       
  --color-secondary: #90e0ef;     
  --color-accent: #495057;        
  --color-base-content: #000000; 
}