@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "ServeOne_Theme";
  default: true;

  --color-primary: #2dc653;       
  --color-secondary: #041c38;     
  --color-accent: #6c757d;        
  --color-base-content: #000000; 
}

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}


/*Text: bg-gradient-to-br from-green-400 to-blue-600 hover:from-blue-600 hover:to-green-400 text-transparent bg-clip-text  rounded-base px-4 py-2.5 text-center leading-5 */

/*btn green: text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-base text-sm px-4 py-2.5 text-center leading-5 btn */

/* btn red: text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-base text-sm px-4 py-2.5 text-center leading-5 */